{% extends 'base.html' %} 
{% load static %} 

{% block css_files %} 
 <link rel="stylesheet" href="{% static "sapi/form_sapi.css"%}"> 
 <link rel="stylesheet" href="{% static "app.css"%}"> 
{% endblock %}


{% block header %}
{% include "sapi/nav.html" %}
{% endblock %}

{%block content %}
<h1 class="mt-4 text-center">
  {% if item %} Edit Data Sapi {{ item.nama_sapi }}
  {% else %} Input Data Sapi 
  {% endif %}
</h1>
<div class="container mt-5 d-flex justify-content-center">

<form method="POST" action="{% if item %}{% url 'submit_sapi_form' item.id %}{% else %}{% url 'submit_sapi_form'  %}{% endif %}" onsubmit="return handleFormSubmit();">
  {% csrf_token %}
  <label for="kode_sapi" class="form-label">{{ form.kode_sapi.label }}</label>
  {{ form.kode_sapi }}

  <label for="nama_sapi" class="form-label">{{ form.nama_sapi.label }}</label>
  {{ form.nama_sapi }}

  <label for="desc_sapi" class="form-label">{{ form.desc_sapi.label }}</label>
  {{ form.desc_sapi }}

 
  <div class="row">
    <div class="col-6">
      <input type="submit" class="btn-submit" value="Simpan" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="submit" class="btn-cancel" value="Batal" onclick="window.location.href='{% url 'home' %}'" />
    </div>
  </div>
</form>

</div>

{% endblock %} 

{% block scripts %}
<script>
  function handleFormSubmit() {
    alert("Form submitted successfully!");
    return true;
  }
</script>
{% endblock%}
