{% extends 'base.html' %} 
{% load static %} 

{% block css_files %} 
 <link rel="stylesheet" href="{% static "app.css"%}"> 
 <link rel="stylesheet" href="{% static "nilai/nilai_form.css"%}"> 
{% endblock %}

{% block header %}
    {% include "nilai/nav.html" %}
{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <table width="70%">
        <thead>
            <tr>
             {% for field_name, field_label in custom_labels.items %}
                <th>{{ field_label }}</th>
             {% endfor %}
             <th>Edit </th>
             <th>Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item.status}}</td>
                <td>{{item.bobot}}</td>
                <td><a href="{% url 'get_nilai_by_id' item.id %}" class="btn btn-secondary d-block mx-auto w-50">Edit</a></td>
                <td><a href="{% url 'delete_nilai_by_id' item.id %}" class="btn btn-danger d-block mx-auto w-50">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}