{% load static %} 

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "app.css"%}"> 
  {% load bootstrap5  %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {% block css_files %}
   
  {% endblock %}

</head>
<body>

<div class="container">

  <ul class="nav bg-dark">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/sapi">Sapi</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link link-light" href="/kriteria">Kriteria</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link link-light" href="/nilai">Nilai</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link link-light" href="/hasil">Hasil</a>
    </li>  
  </ul>

  {% block header%}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block scripts %}
  {% endblock%}
</div>

</body>
</html>